
body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#install-pwa {
    border: 1px solid white;
    background: white;
    border-radius: 3px;
    padding: 10px;
}

#install-pwa:hover:enabled {
    background: darkgray;
}

#install-pwa:disabled{
    background: darkgray;
    color: black;
}

.section {
    margin-top: 25px;
}

a {
    color: white;
}
a:visited {
    color: white;
}
