body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.section {
    margin-top: 25px;
}

a {
    color: white;
}
a:visited {
    color: white;
}

.button {
    display: inline-block;
    border: 1px solid white;
    background: white;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    width: 200px;
    color: black;
}
.button:hover:enabled {
    background: darkgray;
}
.button:disabled{
    background: darkgray;
    color: black;
}
.button:visited{
    color: black;
    text-decoration: none;
    text-emphasis: none;
}
